page-login {
  ion-grid{
    margin-top:20%;
  }
  .login{
    background-color:#ffe200
  }
  .main{
    margin-top:5% !important;
  }
  .item, .item-ios, .item-md {
    background: none !important;
  }
  .registerbtn{
    color: #f6f6f6;
  }
}
